@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
}

input {
  border-radius: 5px;
  border: 1px solid #5e6f21;
  padding: 10px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.form_inputs input {
  width: 100%;
}

label {
  display: block;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  padding: 0 10px 15px 10px;
  width: 90%;
}

.datepicker-overlay {
  position: absolute;
  z-index: 1000;
  background: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datepicker {
  width: 90%;
}
.datepicker input {
  width: 100%;
}

.rdp-root {
  padding: 15px;
}

.rdp-nav button svg,
.rdp-caption_label svg {
  fill: #5e6f21;
}

.rdp-today button {
  background-color: #5e6f21;
  color: white;
  font-weight: 700;
}

.rdp-footer {
  margin-top: 10px;
  font-style: italic;
}

.save_btn {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 8px 0;
  border-radius: 5px;
  background-color: #5e6f21;
  color: white;
  font-weight: 700;
}

/*///////////////////////////////////////////////////
//////////////////// SELECT /////////////////////////
///////////////////////////////////////////////////*/

/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: #5e6f21;
  border: 1px solid #5e6f21;
  /* box-shadow: 0 2px 10px var(--black-a7); */
}
.SelectTrigger:hover {
  background-color: #98ac3b;
  color: white;
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: #5e6f21;
}

.SelectIcon {
  color: #5e6f21;
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 17px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: #98ac3b;
  color: white;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  cursor: default;
}

/*///////////////////////////////////////////////////
//////////////////// TABLE /////////////////////////
///////////////////////////////////////////////////*/

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.table thead tr {
  background-color: #5e6f21;
  color: white;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #5e6f21;
}

.table tbody tr:hover {
  background-color: #98ac3b;
  color: white;
}

/* Table Controls */
.table-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.entries-per-page {
  display: flex;
  align-items: center;
}

.entries-per-page select {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #5e6f21;
}

.search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #5e6f21;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.table thead tr {
  background-color: #5e6f21;
  color: white;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #5e6f21;
}

.table tbody tr:hover {
  background-color: #98ac3b;
  color: white;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: white;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #5e6f21;
  background-color: #5e6f21;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*///////////////////////////////////////////////////
//////////////////// MODAL /////////////////////////
///////////////////////////////////////////////////*/

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  text-align: center;
  gap: 20px;
}

.modal-close-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5e6f21;
  color: white;
  cursor: pointer;
  width: 20%;
}

.modal-close-btn:hover {
  background-color: #98ac3b;
}
